<!DOCTYPE html>
<html lang="en">
<head>
    {{> includes/bootstrapCSS}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LAYOUT</title>
</head>
<body>
    <div class="container-fluid">
    {{> includes/header}}
     {{> includes/newMediaFileButton}}
     {{> includes/categoriesMenu}}
     
    </div>
     {{> includes/jquery}}
    {{> includes/bootstrapJS}}
    
</body>
</html>