<div class="container row categories-filters-items">
    <div class="card col-md-4" style="width: 18rem;">
        <h3 class="categories-filters-header"> CATEGORY-FILTERS</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item music-item"><a href="/">MUSIC</a></li>
            <li class="list-group-item video-item"><a href="/">VIDEO</a></li>
            <li class="list-group-item photo-item"><a href="/">PHOTO</a></li>
        </ul>
        <h5 class="categories-playlist">PLAYLIST</h5>
    </div>
</div>