<header>
    <nav class="navbar navbar-expand-ldg navbar-light bg-light">
        <a class="navbar-brand" href="#">Wizzie's Organiser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-categories" aria-controls="nav-categories"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="nav-categories">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                   <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">MUSIC</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">ALL</a>
                        <a class="dropdown-item" href="/">ALBUM</a>
                        <a class="dropdown-item" href="/">ARTIST</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Separated link</a>
                    </div>
                </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">PHOTOS</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <a class="dropdown-item" href="/">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Separated link</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-haspopup="true" aria-expanded="false">VIDEO</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <a class="dropdown-item" href="/">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Separated link</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>